@model IEnumerable<AnimeRS.Core.Models.Anime>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welkom bij AnimeRS</h1>
</div>

<section id="intro-container" class="my-5">
    @foreach (var anime in Model)
    {
        <div class="anime-item">
            <img src="@anime.ImageURL" alt="@anime.Title">
            <button onclick="window.location.href='/Anime/@anime.Id';">@anime.Title</button>
        </div>
    }
</section>

<section id="about-app" class="my-5">
    <h2>Over AnimeRS</h2>
    <p>
        Welkom bij AnimeRS, dé ultieme bestemming voor elke anime-liefhebber! Ons platform is zorgvuldig ontworpen om je te voorzien van diepgaande inzichten en boeiende reviews over een breed scala aan anime series. Of je nu een doorgewinterde otaku bent of net begint met het verkennen van de betoverende wereld van anime, AnimeRS is jouw vertrouwde gids.

        Hier bij AnimeRS begrijpen we de magie en de impact die anime heeft op ons leven. Daarom hebben we een gebruiksvriendelijke omgeving gecreëerd waar fans zoals jij gedetailleerde informatie, eerlijke beoordelingen en aanbevelingen kunnen vinden voor zowel klassieke als hedendaagse anime.

        Duik in onze uitgebreide database om je volgende favoriete serie te ontdekken, deel je eigen inzichten en verbind met een gemeenschap van gelijkgestemden. Van actievolle avonturen en romantische komedies tot intrigerende mysteries en meeslepende drama's, AnimeRS heeft het allemaal.

        Laat AnimeRS je gids zijn in de kleurrijke en dynamische wereld van anime. Begin nu met verkennen en word deel van onze groeiende gemeenschap van anime-enthousiastelingen. Welkom bij de wereld waar jouw anime-passie tot leven komt!
    </p>
</section>

