@model IEnumerable<AnimeRS.Core.Models.Anime>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welkom bij AnimeRS</h1>
</div>

<!-- Intro Container -->
<section id="intro-container" class="my-5">
    @foreach (var anime in Model)
    {
        <div class="anime-item">
            <img src="@anime.ImageURL" alt="@anime.Title">
            <button onclick="window.location.href='/Anime/@anime.Id';">@anime.Title</button>
        </div>
    }
</section>

<!-- Tekst over de applicatie -->
<section id="about-app" class="my-5">
    <h2>Over AnimeRS</h2>
    <p>Hier komt de tekst over je applicatie...</p>
</section>
