@model IEnumerable<AnimeRS.Core.Models.Anime> 

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welkom bij AnimeRS</h1>
</div>

<!-- Intro Container -->
<section id="intro-container" class="my-5">
    <div class="anime-item">
        <img src="images/Image.jpg" alt="Anime 1">
        <button onclick="window.location.href='link-naar-anime1';">Bekijk Anime 1</button>
    </div>
    <div class="anime-item">
        <img src="images/Image.jpg" alt="Anime 2">
        <button onclick="window.location.href='link-naar-anime2';">Bekijk Anime 2</button>
    </div>
    <div class="anime-item">
        <img src="images/Image.jpg" alt="Anime 3">
        <button onclick="window.location.href='link-naar-anime3';">Bekijk Anime 3</button>
    </div>
</section>

<!-- Tekst over de applicatie -->
<section id="about-app" class="my-5">
    <h2>Over AnimeRS</h2>
    <p>Hier komt de tekst over je applicatie...</p>
</section>