@model AnimeRS.Core.ViewModels.ProfileViewModel


@{
    ViewData["Title"] = "Profiel";
}

<h2>@ViewData["Title"]]</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <h3>Gebruikersgegevens</h3>
        <dl class="dl-horizontal">
            <dt>Gebruikersnaam</dt>
            <dd>@Model.AnimeLover.Username</dd>

            <dt>Rol</dt>
            <dd>@Model.AnimeLover.Role</dd>

            <!-- Voeg hier meer eigenschappen toe indien nodig -->
        </dl>
    </div>

    <div class="col-md-8">
        <h3>Favoriete Anime</h3> 
        <ul>
            @foreach (var anime in Model.FavoriteAnimes)
            {
                <li><a href="/Anime/@anime.AnimeId">@anime.AnimeTitle</a></li>
            }

        </ul>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home">Terug naar Home</a>
</div>
