.search-container {
    text-align: center;
    padding: 20px;
}

#searchResults {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.search-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#animeList {
    list-style-type: none;
    padding: 0;
}

    #animeList li {
        margin-bottom: 5px;
        padding: 5px;
        border-bottom: 1px solid #ddd;
    }

        #animeList li a {
            text-decoration: none;
            color: #000;
        }

            #animeList li a:hover {
                text-decoration: underline;
            }

.autocomplete-suggestions {
    max-height: 200px; /* of een andere passende hoogte */
    overflow-y: auto; /* maakt het scrollbaar */
    width: 100%; /* zorgt dat de breedte overeenkomt met de zoekbalk */
    position: absolute; /* zorgt dat de lijst boven andere elementen zweeft */
    background-color: white; /* achtergrondkleur */
    border: 1px solid #ddd; /* rand */
    list-style-type: none; /* verwijdert bullet points */
    padding: 0; /* verwijdert standaard padding */
}

    .autocomplete-suggestions li {
        padding: 5px 10px; /* padding voor elk item */
        cursor: pointer; /* verandert de cursor naar een handje */
    }

        .autocomplete-suggestions li:hover {
            background-color: #f0f0f0; /* hover effect */
        }
