html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

:root {
    --primary-color: #2e51a2; /* Blauw */
    --secondary-color: #ffffff; /* Wit */
    --text-color: #000000; /* Zwart */
}

body {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

header, footer {
    background-color: var(--primary-color);
}
