<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta ="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AnimeRS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/AnimeRS.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/adminPanel.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/homePage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Search.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Profile.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/customNav.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/AnimeDetails.css" asp-append-version="true" />
</head>
<body>
    <header class="bg-dark text-white">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="/images/logo.png" id="logo" alt="AnimeRS Logo" /></a>
            <nav class="navbar navbar-expand-md">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Search" asp-action="Index">Search</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <img src="@User.Claims.FirstOrDefault(c => c.Type == "picture")?.Value" alt="Profile Picture" class="profile-picture">
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Profile">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                        </li>
                        @if (User.IsInRole("admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Admin" asp-action="Index">Admin Dashboard</a>
                            </li>
                        }
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Signup">Signup</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - AnimeRS - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Search.js" asp-append-version="true"></script>
    <script src="~/js/Favorite.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
