<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anime Zoekpagina</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="search-container">
        <h1>Anime Zoeken</h1>
        <input type="text" id="searchName" placeholder="Zoek op naam...">
        <input type="text" id="searchGenre" placeholder="Zoek op genre...">
        <button id="searchButton">Zoeken</button>
        <div id="searchResults"></div>
    </div>

    <script src="Search.js"></script>
</body>
</html>
